*{
    background-color: #0F0A05;
    margin: 0;
    box-sizing: border-box;
    overflow: visible;
    font-family: 'Exo 2', verdana, sans-serif;
}
header {
    display: flex;
    flex-flow: row nowrap;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding:1%;
    z-index: 100;
    background-color: #05070F;
}
img[alt=logo] {
    height: 7%;
    width: 7%;
    background-color: transparent;
    border-radius: 50%;
    transition : 5s ease;
}
img[alt=logo]:hover {
    opacity:90%;
    transform: rotate(0.5turn);
    cursor: pointer;
}
h1 {
    display: block;
    text-align: right;
    font-size: 3em; 
    margin-right: 5%;
    padding:1%;
    -webkit-text-stroke: 1.8px #e3d985;
    -webkit-text-fill-color: #1B613E;
    background-color: transparent;
    transition : 5s ease;
}
h1:hover {
    transform: rotate3d(11, 52.0, 30.0, -10deg);
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    * {
        overflow: visible;
        min-height: 100%;
    }
    h1 {
        font-size: 2em;
    }
@media screen and (max-width: 880px) {
    * {
        overflow: visible;
        min-height: 100%;
    h1 {
        font-size: 2em;
    }
@media screen and (max-width: 880px) {
    * {
        overflow: visible;
        min-height: 100%;
    h1 {
        font-size: 2em;
    }
@media screen and (max-width: 480px) {
    * {
        overflow: visible;
        min-height: 100%;
    h1 {
        font-size: 1.5em;
    }
@media screen and (max-width: 350px) {
    * {
        overflow: visible;
        min-height: 100%;
    h1 {
        font-size: 1.2em;
    }